<main class="container">
  <form [formGroup]="form" (ngSubmit)="createFinance()">
    <div class="input-group">
      <label for="title">Título da finança</label>
      <input type="text" id="title" formControlName="title" />
      <app-field-error-message [showError]="checkValidTouched('title')" errorMessage="Título obrigatório.">
      </app-field-error-message>
    </div>

    <div class="input-group">
      <label for="value">Valor</label>
      <input type="number" id="value" formControlName="value" />
      <app-field-error-message [showError]="checkValidTouched('value')" errorMessage="Valor obrigatório.">
      </app-field-error-message>
    </div>

    <div class="input-group">
      <label for="description">Descrição</label>
      <textarea id="description" formControlName="description"></textarea>
    </div>

    <div class="input-group">
      <app-button>Adicionar</app-button>
      <app-button (click)="cancel()">Cancelar</app-button>
    </div>
  </form>
</main>