@import "includes";

.finances {
  @include grid-column-start(2);
  @include grid-column-span(14);

  .finances-result {
    margin: 0 0 2rem;

    ul {
      @include evenly;
    }
  }

  .all-finances {
    ul {
      @include center;
      align-items: baseline;
      flex-wrap: wrap;
      column-gap: 5rem;
    
      h2 {
        font-size: 1rem;
        padding: 1em;
      }
    
      li {
        width: 15rem;
        height: 18rem;
        overflow: hidden;
    
        &::after {
          content: "";
          display: block;
          margin: 2rem auto;
          width: 100%;
          height: 1px;
          background-color: #dedede;
        }
    
        p {
          
          &:nth-child(2) {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;  
            overflow: hidden;
          }
  
          &:not(:last-child) {
            margin-bottom: 1rem;
          }        
        }
      }
    }
  }
}
