<main class="container">
  <article class="finances">
    <div class="finances-result">
      <ul>
        <li>
          <h2>Entradas</h2>
          <p>R$ 5,000</p>
        </li>

        <li>
          <h2>Saídas</h2>
          <p>R$ 5,000</p>
        </li>

        <li>
          <h2>Total</h2>
          <p>R$ 5,000</p>
        </li>
      </ul>
    </div>

    <div class="all-finances">
      <div *ngIf="finances; then thenBlock; else elseBlock"></div>
      <ng-template #thenBlock>
        <ul>
          <li *ngFor="let finance of finances">
            <h2>{{finance.title}}</h2>
            <p>{{finance.description}}</p>
            <p>{{finance.value}}</p>
          </li>
        </ul>
      </ng-template>
      <ng-template #elseBlock> Não há notas a serem exibidas. </ng-template>
    </div>
  </article>
</main>