@import "includes";

.container {
  @include grid(16);

  form {
    @include grid-column-start(7);
    @include grid-column-span(4);

    .input-group:last-of-type {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    button {
      margin: 0;
    }
  }
}
