<form [formGroup]="form" (ngSubmit)="createUser()">
    <div class="input-group" [ngClass]="classError('email')">
        <label for="user">Email</label>
        <input type="email" id="email" formControlName="email" />
    </div>

    <div class="input-group" [ngClass]="classError('password')">
        <label for="password">Senha</label>
        <input type="password" id="password" formControlName="password" />
    </div>
    <button>Criar Usuário</button>
    <button (click)="cancel()">Cancelar</button>
</form>