<app-header pageTitle="Private Desk">
    <li><a [routerLink]="['/notes/all-notes']" routerLinkActive="router-link-active">Notas</a> </li>
    <li><a [routerLink]="['/finances/all-finances']" routerLinkActive="router-link-active">Finanças</a></li>
</app-header>
<main class="container">
    <section>
        <app-title title="Notas"></app-title>
        <ul>
            <li *ngFor="let note of notes">
                <h2>{{note.title}}</h2>
                <p>{{note.description}}</p>
                <p>{{note.date}}</p>
                <p>{{note.tags}}</p>
                <p>{{note.isPrivate ? 'Privada' : ''}}</p>
            </li>
        </ul>
        <div class="btn">
            <app-button>Carregar mais</app-button>
        </div>
    </section>
    <section>
        <app-title title="Finanças"></app-title>
        <ul>
            <li>
                <h2>Entradas</h2>
                <p>R$ 5,000</p>
            </li>
        
            <li>
                <h2>Saídas</h2>
                <p>R$ 5,000</p>
            </li>
        
            <li>
                <h2>Total</h2>
                <p>R$ 5,000</p>
            </li>
        </ul>
        <div class="btn">
            <app-button [routerLink]="['/finances/all-finances']">Ver todas as finanças</app-button>
        </div>
    </section>
</main>