@import "includes";

.container {
  margin-bottom: 2rem;

  section {
    padding: 1em;
    
    .btn {
      @include center;
      margin: 3rem 0 0;
    }

    &:first-child {
      @include grid-column-start(1);
      @include grid-column-span(8);

      border-right: 1px solid #dedede;
    }

    &:last-child {
      @include grid-column-start(9);
      @include grid-column-span(8);

      h3 {
        font-size: 1rem;
        padding: 1em;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        text-align: center;

        &::after {
          content: "";
          display: block;
          margin: 0.5rem auto;
          width: 70px;
          height: 1px;
          background-color: #dedede;
        }
      }
    }
  }
}
