<app-header pageTitle="Private Desk">
    <li><a [routerLink]="['/notes/all-notes']" routerLinkActive="router-link-active">Notas</a> </li>
    <li><a [routerLink]="['/finances/all-finances']" routerLinkActive="router-link-active">Finanças</a></li>
</app-header>
<main class="container">
    <section>
        <app-all-notes></app-all-notes>
        <app-button>Carregar mais</app-button>
    </section>
    <section>
        <h3>Finanças</h3>
        <app-finance-results></app-finance-results>
        <app-button [routerLink]="['/finances/all-finances']">Ver todas as finanças</app-button>
    </section>
</main>