<main class="container">
  <form [formGroup]="form" (ngSubmit)="createNote()">
    <div class="input-group">
      <label for="title">Título da nota</label>
      <input type="text" id="title" formControlName="title" />
      <app-field-error-message [showError]="checkValidTouched('title')" errorMessage="Título obrigatório.">
      </app-field-error-message>
    </div>

    <div class="input-group">
      <label for="description">Descrição</label>
      <textarea id="description" formControlName="description"></textarea>
    </div>

    <div class="input-group">
      <label for="tags">Tags</label>
      <input type="text" id="tags" formControlName="tags" />
    </div>

    <div class="input-group">
      <label>Disponibilidade:</label>
      <div class="input-radio">
        <input type="radio" id="yes" value="true" formControlName="isPrivate">
        <label for="yes">Privado</label>
      </div>

      <div class="input-radio">
        <input type="radio" id="no" value="false" formControlName="isPrivate">
        <label for="no">Visível</label>
      </div>
      <app-field-error-message [showError]="checkValidTouched('isPrivate')" errorMessage="Marque uma opção.">
      </app-field-error-message>
    </div>

    <div class="input-group">
      <app-button>Criar nota</app-button>
      <app-button (click)="cancel()">Cancelar</app-button>
    </div>
  </form>
</main>